<div class="loading-container">
  <div class="spiritual-loader">
    <div class="om-container">
      <mat-icon class="om-icon rotating">om</mat-icon>
    </div>
    <mat-spinner 
      [diameter]="diameter" 
      [strokeWidth]="strokeWidth"
      class="custom-spinner">
    </mat-spinner>
    <p *ngIf="showMessage" class="loading-message">{{ message || ('loading.message' | translate) }}</p>
    <p class="spiritual-quote">
      {{ 'loading.quote' | translate }}
      <br>
      <small>{{ 'loading.quote.translation' | translate }}</small>
    </p>
  </div>
</div>